//Colors
$main-color: #777;
$secondary-color: #58e1c1;
$tertiary-color: #51ddfc;
$random-background-color: #927bc1;
$frame-color: #ccc;
$white: #fff;

// Media Query Breakpoint
$small: 320px;
$medium: 768px;
$xtra-medium: 769px;
$large: 1024px;
