.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  &:hover {
    background: lighten($hover-color, 15%);
    transition: background-color .3s ease-out;
  }
}

.default {
  background-color: $tertiary-color;
}

.error {
  background-color: #e4757a;
}

.info {
  background-color: $random-background-color;
}

.success {
  background-color: #63cc82;
}

.warning {
  background-color: #fd7856;
}

//Media Query
@media (min-width: $medium) {
  .btn {
  padding: 10px 30px;
  & + & {
    margin-left: 10px;
  }
}
}
