.container {
  padding: 0 10px;
}

.card {
  flex-basis: 100%;
}

//media Query
@media (min-width: $medium) {
  .container {
    max-width: 1400px;
    @include center-item;
  }

  .centered {
    @include center-item;
  }
}
