.img-avatar {
  @include center-item;
  margin-top: 10px;
  max-width: 100%;
  max-height: 100%;
}

.img-frame {
  @include center-item;
  margin-top: 10px;
  max-width: 100%;
  padding: 13px;
  border: 1px solid $frame-color;
}

.img-logo {
  @include center-item;
}

//media query
@media (min-width: $medium) {

  .logo {
    margin-left: initial;
    margin-right: initial;
  }

}
